{{ define "main" }}
{{ partial "section-banner.html" (dict "title" .Title "subtitle" "Open-source Java projects for probabilistic testing and resilient operations." "color" "green") }}
<section class="content-list">
  <div class="container">
    {{ .Content }}
    {{ range .Pages.ByWeight }}
      <article class="project-listing">
        <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
        <p>{{ .Description }}</p>
        <a href="{{ .Permalink }}" class="project-listing-link">Read more</a>
      </article>
    {{ end }}
  </div>
</section>
{{ end }}
